@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/MaterialIcons-Regular.eot");
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url("/fonts/MaterialIcons-Regular.woff2") format("woff2"), url("/fonts/MaterialIcons-Regular.woff") format("woff"), url("/fonts/MaterialIcons-Regular.ttf") format("truetype"); }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga'; }

/*##############################
    Font
##############################*/
/*##############################
    Color scheme
##############################*/
/*##############################
    Font sizes
##############################*/
/*############################################
        Must have Mixins
        http://w3bits.com/sass-mixins/
############################################*/
body,
html {
  color: #606060;
  font-family: "Lato", sans-serif !important;
  font-size: 62.5%;
  height: 100%; }

.navbar-default {
  background-color: #ffffff;
  border: none;
  margin-bottom: 0;
  min-height: 2rem;
  padding: 1rem 0; }
  .navbar-default a {
    color: #c0c0c0; }
  .navbar-default a.active {
    color: #0053a0; }

h1 {
  font-size: 16;
  font-size: 1.6rem; }
  @media only screen and (min-width: 992px) {
    h1 {
      font-size: 30;
      font-size: 3rem; } }

h2 {
  font-size: 16;
  font-size: 1.6rem; }
  @media only screen and (min-width: 992px) {
    h2 {
      font-size: 24;
      font-size: 2.4rem; } }

a {
  font-size: 12;
  font-size: 1.2rem; }

.btn {
  font-size: 13;
  font-size: 1.3rem; }

hr {
  color: #ebebeb;
  background-color: #ebebeb; }

.map-bg {
  background-image: url("/Data/sites/1/skins/MetroTransitII/images/twin-cities-map.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%; }

.navigation {
  background-color: #ffffff; }
  .navigation i {
    padding: 1.5rem; }

.ridematch .mt-button {
  text-align: center; }

.ridematch .red {
  color: #ed1b2e; }

.ridematch .margin-bottom {
  margin-bottom: 1rem; }

/*##############################
    Ridematch specific styles
##############################*/
.ridematch {
  padding: 1.5rem; }
  .ridematch .card {
    background-color: #ffffff;
    border: 1px solid #c0c0c0;
    padding: 1.5rem; }
    .ridematch .card .btn {
      margin-top: 1em; }
    .ridematch .card .control-point-icon {
      color: #ed1b2e; }
  .ridematch .leadin {
    font-size: 14;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.3; }
    @media only screen and (min-width: 992px) {
      .ridematch .leadin {
        font-size: 24;
        font-size: 2.4rem; } }

.dashboard {
  position: relative;
  top: 5rem; }

.form-redesign h4 {
  margin: 1em 0; }

.form-redesign p:last-child {
  margin: 1em 0; }

.form-redesign .well {
  background-color: transparent; }

.form-redesign .required-notice {
  padding-left: 1em;
  background: #fff url("data:image/gif;base64,R0lGODlhBwAHAIQUAIwAALALAKwSCawpJ/cuAP4yAP81APQ5CvQ6C/8+Cv8/Cv5RGP9RGfRhMfRiMf9jJ/50NP+GR/+HSPSKXP///////////////////////////////////////////////yH5BAEKAB8ALAAAAAAHAAcAAAUf4CcCojhMkiOIE/QsyAdED6MYZLMkBSEKBwMhUJKVQgA7") no-repeat 0 50%; }

.form-redesign table td {
  padding-right: 1em; }

.form-redesign label {
  color: #000;
  font-style: italic;
  display: inline-block;
  margin: 0.3em 0;
  width: auto !important; }

.form-redesign .required {
  padding-right: 1em;
  background: #fff url("data:image/gif;base64,R0lGODlhBwAHAIQUAIwAALALAKwSCawpJ/cuAP4yAP81APQ5CvQ6C/8+Cv8/Cv5RGP9RGfRhMfRiMf9jJ/50NP+GR/+HSPSKXP///////////////////////////////////////////////yH5BAEKAB8ALAAAAAAHAAcAAAUf4CcCojhMkiOIE/QsyAdED6MYZLMkBSEKBwMhUJKVQgA7") no-repeat 100% 50%; }

.form-redesign .form-group {
  display: block;
  clear: both;
  margin-bottom: 1em; }
  .form-redesign .form-group .form-control {
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
    height: 24px;
    padding: 0 6px;
    width: 100%; }
  .form-redesign .form-group textarea.form-control {
    height: 112px; }
  .form-redesign .form-group select {
    appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    -khtml-appearance: none;
    -webkit-appearance: none;
    text-indent: 0.01px;
    text-overflow: "";
    padding: 0 24px 0 6px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMjUwcHgiIGhlaWdodD0iMjUwcHgiIHZpZXdCb3g9Ii0zMiAtNjcgMjc1IDI3NSI+PHBhdGggZD0iTTE2OC40NTIsNDIuMTIxbC02LjEwOS02LjExMWMtMi4xMTgtMi4wMDktNC41OS0zLjAxNC03LjQxMy0zLjAxNGMtMi44OCwwLTUuMzI0LDEuMDA1LTcuMzM0LDMuMDE0TDEwOCw3NS42MDcgTDY4LjQwNCwzNi4wMTFjLTIuMDEtMi4wMDktNC40NTQtMy4wMTQtNy4zMzMtMy4wMTRjLTIuODI0LDAtNS4yOTYsMS4wMDUtNy40MTQsMy4wMTRsLTYuMDI5LDYuMTExIGMtMi4wNjQsMi4wNjMtMy4wOTYsNC41MzUtMy4wOTYsNy40MTRjMCwyLjkzMywxLjAzMyw1LjM3NywzLjA5Niw3LjMzMmw1My4wMzksNTMuMDM5YzEuOTU2LDIuMDY0LDQuMzk5LDMuMDk2LDcuMzMzLDMuMDk2IGMyLjg3OSwwLDUuMzUtMS4wMzIsNy40MTMtMy4wOTZsNTMuMDM5LTUzLjAzOWMyLjAxLTIuMDEsMy4wMTYtNC40NTQsMy4wMTYtNy4zMzJDMTcxLjQ2OCw0Ni43MTEsMTcwLjQ2Miw0NC4yNCwxNjguNDUyLDQyLjEyMXoiLz48L3N2Zz4=");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain; }

.form-redesign .form-inline .form-group {
  display: inline-block;
  margin-bottom: 1em;
  vertical-align: middle; }
  .form-redesign .form-inline .form-group .input-group {
    white-space: nowrap;
    position: relative;
    display: table;
    border-collapse: separate; }
    .form-redesign .form-inline .form-group .input-group input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      display: inline-block; }
    .form-redesign .form-inline .form-group .input-group .input-group-addon {
      background-color: #ccc;
      border: 1px solid #ccc;
      cursor: pointer;
      padding: 0 6px; }
  .form-redesign .form-inline .form-group .checkbox-list td {
    padding-right: 1em; }

.form-redesign .checkbox-group,
.form-redesign .radio-group {
  margin-bottom: 1em; }

.form-redesign .mt-button {
  margin-bottom: 1em;
  text-align: center; }

.form-redesign .mt-backbutton {
  text-align: center; }

.dashboard h2 {
  display: inline-block; }

.dashboard hr {
  color: #ebebeb;
  background-color: #ebebeb; }

@media only screen and (min-width: 992px) {
  .dashboard .border-left {
    border-left: 1px solid #ebebeb; } }

@media only screen and (min-width: 992px) {
  .dashboard .border-right {
    border-right: 1px solid #ebebeb; } }

.dashboard .material-icons {
  font-size: 14;
  font-size: 1.4rem;
  line-height: 0; }
  @media only screen and (min-width: 992px) {
    .dashboard .material-icons {
      font-size: 20;
      font-size: 2rem; } }

@media only screen and (min-width: 992px) {
  .dashboard .tools {
    margin-top: 1rem; } }

@media only screen and (min-width: 992px) {
  .dashboard .tools .material-icons {
    font-size: 15;
    font-size: 1.5rem; } }

.dashboard .tools .link a {
  font-size: 12;
  font-size: 1.2rem; }

.dashboard .well {
  background-color: #ebebeb;
  border: 0;
  padding: 1rem; }
  .dashboard .well p {
    font-size: 12;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 0; }

/*# sourceMappingURL=../maps/main.css.map */
