body,
html {
    color: $font-color;
    font-family: $font-stack-lato;
    font-size: 62.5%;
    height: 100%;
}

.navbar-default {
    background-color: $white;
    margin-bottom: 0;
    min-height: 2rem;
    padding: 1rem 0;

    a {
        color: $grey;
    }

    a.active {
        color: $transit-blue;
    }
}

h1 {
    @include font-size(16, 10);
    @include screen ('desktop') {
        @include font-size(30, 10);
    }
}

h2 {
    @include font-size(12, 10);
    @include screen ('desktop') {
        @include font-size(24, 10);
    }
}

a {
    @include font-size(12, 10);
}

.btn {
    @include font-size(13, 10);
}

hr {
    color: $light-grey;
    background-color: $light-grey;
}

.map-bg {
    background-image: url("/Data/sites/1/skins/MetroTransitII/images/twin-cities-map.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

.navigation {
    background-color: $white;

    i {
        padding: 1.5rem;
    }
}

.ridematch {
    .mt-button {
        text-align: center;
    }

    .red {
        color: $red-text;
    }

    .margin-bottom {
        margin-bottom: 1rem;
    }
}
