body,
html {
    height: 100%;
}
/*##############################
  Ridematch base styles
##############################*/
.ridematch {
    color: $font-color;
    font-family: $font-stack-lato;
    font-size: 62.5%;

    h1 {
        @include font-size(16, 10);
    }

    h2 {
        @include font-size(12, 10);
    }

    p {
        @include font-size(10, 10);
    }

    a {
        @include font-size(10, 10);

        &:hover {
            text-decoration: none;
        }
    }

    .btn {
        @include font-size(10, 10);
    }

    hr {
        color: $light-grey;
        background-color: $light-grey;
    }

    small {
        @include font-size(8, 10);
    }

    .card {
        background-color: $white;
        border: 1px solid $grey;
        padding: 1.5rem;
    }

    .navigation {
        background-color: $white;

        i {
            padding: 1.5rem;
        }
    }

    .btn {
        text-align: center;
    }

    .red {
        color: $red-text;
    }

    .margin-bottom {
        margin-bottom: 1rem;
    }

    .leadin {
        @include font-size(14, 10);
        font-weight: 300;
        line-height: 1.3;
    }

    .material-icons {
        @include font-size (12, 10);
        width: 1.2rem;
        height: 1.2rem;
        position: relative;
        top: 0.2rem;
    }

    a i.material-icons {
        color: $font-color;
    }

    a.active i.material-icons {
        color: $transit-blue;
    }
    // Media queries
    @include screen ('desktop') {
        h1 {
            @include font-size(30, 10);
        }

        h2 {
            @include font-size(20, 10);
        }

        a {
            @include font-size(12, 10);
        }

        small {
            @include font-size(12, 10);
        }

        .material-icons {
            @include font-size(20, 10);
            width: 2rem;
            height: 2rem;
        }

        .leadin {
            @include font-size(24, 10);
        }
    }

    @include screen('lg-desktop') {

        h2 .material-icons {
            top: 0.3rem;
        }
    }
}
