body,
html {
    font-size: 62.5%;
    height: 100%;
}
/*##############################
  Ridematch base styles
##############################*/
.ridematch {
    color: $font-color;
    font-family: $font-stack-lato;

    h1 {
        @include font-size(1.6);
    }

    h2 {
        @include font-size(1.6);
    }

    h3 {
        @include font-size(1);
    }

    p {
        @include font-size(1);
    }

    a {
        @include font-size(1);

        &:hover {
            text-decoration: none;
        }
    }

    .btn {
        @include font-size(1.3);
    }

    hr {
        color: $light-grey;
        background-color: $light-grey;
    }

    small {
        @include font-size(0.8);
    }

    .card {
        background-color: $white;
        border: 1px solid $grey;
        padding: 1.5rem;
    }

    .navigation {
        background-color: $white;

        i {
            padding: 1.5rem;
        }
    }

    .btn {
        text-align: center;
    }

    .red {
        color: $red-text;
    }

    .margin-bottom {
        margin-bottom: 1rem;
    }

    .leadin {
        @include font-size(1.4);
        font-weight: 300;
        line-height: 1.3;
    }

    .material-icons {
        @include font-size (1.6);
        width: 1.6rem;
        height: 1.6rem;
        position: relative;
        top: 0.2rem;
    }

    a i.material-icons {
        color: $font-color;
        @include font-size(1);
        width: 1rem;
        height: 1rem;
    }

    a.active i.material-icons {
        color: $transit-blue;
    }
    // Media queries
    @include screen ('desktop') {
        h1 {
            @include font-size(3);
        }

        h2 {
            @include font-size(2.4);
        }

        a {
            @include font-size(1.2);
        }

        small {
            @include font-size(0.8);
        }

        .btn {
            text-align: left;
        }

        .material-icons {
            @include font-size(2);
            width: 2rem;
            height: 2rem;
        }

        .leadin {
            @include font-size(2.4);
        }
    }
    @include screen('lg-desktop') {
        h2 .material-icons {
            top: 0.3rem;
        }
    }
}