body,
html {
    color: $font-color;
    font-family: $font-stack-lato;
    @include font-size(10);
    height: 100%;
}

h1 {
    //font-size: $h1-size;
    @include font-size(16, 10);
    @include screen ('desktop') {
        @include font-size(30, 10);
    }
}

h2 {
    @include font-size(16, 10);
    @include screen ('desktop') {
        @include font-size(24, 10);
    }
}

hr {
    color: $light-grey;
    background-color: $light-grey;
}

.map-bg {
    background-image: url("/images/twin-cities-map.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

.navigation {
    background-color: $white;

    i {
        padding: 1.5rem;
    }
}

.ridematch {
    .mt-button {
        text-align: center;
    }

    .red {
        color: $red-text;
    }

    .margin-bottom {
        margin-bottom: 1rem;
    }
}
