.commutes {
    .card {
        margin-bottom: 1.5rem;
    }
    h2 {
        display: inline-block;
    }

    .number-results {
        @include font-size(12, 10);
        @include screen ('desktop') {
            @include font-size(24, 10);
            line-height: 1em;
        }
    }

    .material-icons {
        @include font-size(13, 10);
        width: 1.3rem;
        height: 1.3rem;
        position: relative;
        top: 0.2rem;
        @include screen ('desktop') {
            @include font-size(20, 10);
            width: 2rem;
            height: 2rem;
            margin-right: 0.3rem;
        }
    }

    .preferences p {
        .indent {
            margin-left: 12px;
        }
    }

    .checkbox {
        .material-icons {
            top: 0.3rem;
        }
    }
}
