/************************************
    Ridematch - Commutes
/***********************************/
.ridematch {
    .commutes {
        h2 {
            display: inline-block;
        }

        .number-results {
            @include font-size(1.2);
        }

        .preferences {
            .material-icons {
                @include font-size(1.4);
                top: 0.2rem;
                width: 1.4rem;
                height: 1.4rem;
                line-height: 0;
            }
        }

        .alert {
            padding: 1rem;
        }

        .alert-warning {
            background-color: #fcf8e3;

            p {
                @include font-size(1.2);
                margin: 0;
                line-height: 1.5;
            }
        }

        .btn {
            margin-bottom: 1rem;
        }

        .commute-name {
            @include font-size(1);
            font-weight: 400;
            margin-top: 0.5rem;
        }
        @include screen ('desktop') {
            .card {
                border: none;
                margin-bottom: 1.5rem;
                padding: 0;

                .card {
                    border: 1px solid $medium-grey;
                    padding: 1.5rem;
                }
            }

            .preferences {
                .material-icons {
                    top: 0.1rem;
                }
            }

            .commute-name {
                @include font-size(1.8);
                margin-top: 0;
            }

            .number-results {
                @include font-size(2.4);
                line-height: 1em;
            }
        }
    }
}