/************************************
    Ridematch - Commute Results
/***********************************/
.commute-results {
    .card {
        .card {
            margin-bottom: 1.5rem;

            .number-results {
                @include font-size(18, 10);
                line-height: 1.3;
            }

            &:nth-child(2) {
                border-top: 5px solid $green;

                .account-circle {
                    color: $green;
                    @include font-size(16, 10);
                    width: 1.6rem;
                    height: 1.6rem;
                }
            }

            &:nth-child(3) {
                border-top: 5px solid $orange;

                .account-circle {
                    color: $orange;
                    @include font-size(16, 10);
                    width: 1.6rem;
                    height: 1.6rem;
                }
            }

            &:nth-child(4) {
                border-top: 5px solid $lime-green;

                .account-circle {
                    color: $lime-green;
                    @include font-size(16, 10);
                    width: 1.6rem;
                    height: 1.6rem;
                }
            }

            .result-point {
                @include font-size(10, 10);
                margin-right: 0.5rem;
                text-transform: uppercase;
            }

            .ab {
                @include font-size(12, 10);
                font-weight: 700;
            }

            .startend {
                color: #aaa;
            }
        }

        .preferences {
            .preference-option {
                margin-left: 2.1rem;
            }

            .selected {
                margin-left: 0;

                .material-icons {
                    margin-right: 0.3rem;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
    @include screen ('desktop') {
        .map-bg {
            height: 106rem;
        }

        .card {
            border: none;
            margin-bottom: 1.5rem;
            padding: 0;

            .card {
                border: 1px solid $medium-grey;
                padding: 1.5rem;

                &:nth-child(2) {
                    .account-circle {
                        @include font-size(24, 10);
                        width: 2.4rem;
                        height: 2.4rem;
                    }
                }

                &:nth-child(3) {
                    .account-circle {
                        @include font-size(24, 10);
                        width: 2.4rem;
                        height: 2.4rem;
                    }
                }

                &:nth-child(4) {
                    .account-circle {
                        @include font-size(24, 10);
                        width: 2.4rem;
                        height: 2.4rem;
                    }
                }
            }

            .card a {
                @include font-size(14, 10);

                .material-icons {
                    @include font-size(14, 10);
                    width: 1.4rem;
                    height: 1.4rem;
                }
            }
        }

        .preferences {
            .material-icons {
                top: 0.5rem;
            }
        }
    }
}
