/************************************
    Ridematch - Commutes
/***********************************/
.ridematch {
    .commutes {
        h2 {
            display: inline-block;
        }

        .number-results {
            // @include font-size(1.2);
            font-size: 12px;
        }

        .preferences {
            .material-icons {
                // @include font-size(1.4);
                font-size: 14px;
                top: 2px;
                width: 14px;
                height: 14px;
                line-height: 0;
            }
        }

        .alert {
            padding: 10px;
        }

        .alert-warning {
            background-color: #fcf8e3;

            p {
                // @include font-size(1.2);
                font-size: 12px;
                margin: 0;
                line-height: 1.5;
            }
        }

        .btn {
            margin-bottom: 10px;
        }

        .commute-name {
            // @include font-size(1);
            font-size: 10px;
            font-weight: 400;
            margin-top: 5px;
        }
        @include screen ('desktop') {
            .card {
                border: none;
                margin-bottom: 15px;
                padding: 0;

                .card {
                    border: 1px solid $medium-grey;
                    padding: 15px;
                }
            }

            .preferences {
                .material-icons {
                    top: 1px;
                }
            }

            .commute-name {
                // @include font-size(1.8);
                font-size: 18px;
                margin-top: 0;
            }

            .number-results {
                // @include font-size(2.4);
                font-size: 24px;
                line-height: 10px;
            }
        }
    }
}
