.commutes {
    .card {
        @include screen ('desktop') {
            border: none;
            margin-bottom: 1.5rem;
            padding: 0;

            .card {
                border: 1px solid $medium-grey;
                padding: 1.5rem;
            }

            .map-bg {
                height: 82.5rem;
            }
        }
    }

    h2 {
        display: inline-block;
    }

    .number-results {
        @include font-size(12, 10);
        @include screen ('desktop') {
            @include font-size(24, 10);
            line-height: 1em;
        }
    }

    .preferences p {
        .indent {
            margin-left: 12px;
        }
    }

    .checkbox {
        @include screen ('desktop') {
            .material-icons {
                line-height: 0;
                top: 0.3rem;
            }
        }
    }
}
