/************************************
    Ridematch - Commutes
/***********************************/
.ridematch {
    .commutes {
        h2 {
            display: inline-block;
        }

        .number-results {
            @include font-size(12, 10);
        }

        .preferences {
            .material-icons {
                @include font-size(14, 10);
                top: 0.3rem;
                width: 1.4rem;
                height: 1.4rem;
                line-height: 0;
            }
        }

        .btn {
            margin-bottom: 1rem;
        }

        .commute-name {
            @include font-size(10, 10);
            font-weight: 400;
            margin-top: 0.5rem;
        }
        @include screen ('desktop') {
            .card {
                border: none;
                margin-bottom: 1.5rem;
                padding: 1.5rem;

                .card {
                    //border: 1px solid $medium-grey;
                    //padding: 1.5rem;
                }

                .map-bg {
                    height: 80.265rem;
                }
            }

            .commute-name {
                @include font-size(18, 10);
                margin-top: 0;
            }

            .number-results {
                @include font-size(24, 10);
                line-height: 1em;
            }
        }
    }
}
