/************************************
    Ridematch - Commute Results
/***********************************/
.commute-results {
    .card {
        .card {
            margin-bottom: 1.5rem;

            .number-results {
                @include font-size(18, 10);
                line-height: 1.3;
            }

            &:nth-child(2) {
                border-top: 5px solid $green;

                .account-circle {
                    color: $green;
                }
            }

            &:nth-child(3) {
                border-top: 5px solid $orange;

                .account-circle {
                    color: $orange;
                }
            }

            &:nth-child(4) {
                border-top: 5px solid $lime-green;

                .account-circle {
                    color: $lime-green;
                }
            }

            .result-point {
                @include font-size(10, 10);
                margin-right: 0.5rem;
                text-transform: uppercase;
            }

            .ab {
                @include font-size(12, 10);
                font-weight: 700;
            }

            .startend {
                color: #aaa;
            }
        }
        @include screen ('desktop') {
            border: none;
            margin-bottom: 1.5rem;
            padding: 0;

            .card {
                border: 1px solid $medium-grey;
                padding: 1.5rem;
            }
        }
    }
    @include screen ('desktop') {
        .map-bg {
            height: 106rem;
        }
    }
}
