/************************************
    Ridematch - Dashboard
/***********************************/
.dashboard {
    padding: 1.5rem;
    position: relative;
    top: 4.7rem;
    @include screen ('desktop') {
        padding: 1.5rem;
        top: 0;
    }

    h2 {
        display: inline-block;
    }

    hr {
        color: $light-grey;
        background-color: $light-grey;
    }

    .border-left {
        @include screen ('desktop') {
            border-left: 1px solid $light-grey;
        }
    }

    .border-right {
        @include screen ('desktop') {
            border-right: 1px solid $light-grey;
        }
    }

    .tools {
        @include screen ('desktop') {
            margin-top: 1rem;
        }

        .material-icons {
            @include screen ('desktop') {
                @include font-size(15, 10);
            }
        }

        .link a {
            @include font-size(12, 10);
        }
    }

    .well {
        background-color: $light-grey;
        border: 0;
        padding: 1rem;

        p {
            @include font-size(12, 10);
            font-weight: 700;
            margin-top: 0;
        }
    }

    .card-mobile {
        margin-bottom: 1.5rem;
        @include screen ('desktop') {
            margin-bottom: 0;
        }
    }
    // Use to make columns equal hieght.
    @include screen ('desktop') {
        .row.match-cols {
            overflow: hidden;
        }

        .row.match-cols [class*="col-"] {
            margin-bottom: -99999px;
            padding-bottom: 99999px;
        }
    }
}
