/************************************
    Ridematch - Dashboard
/***********************************/
.ridematch {
    .dashboard {
        position: relative;
        top: 4rem;

        h2 {
            display: inline-block;
            margin-right: 2rem;
        }

        hr {
            color: $light-grey;
            background-color: $light-grey;
        }

        .card {
            border: none;

            .card {
                border: 1px solid $medium-grey;
                margin-bottom: 2rem;
            }
        }

        .well {
            background-color: $light-grey;
            border: 0;
            padding: 1rem;

            p {
                @include font-size(1);
                font-weight: 700;
                margin-top: 0;
            }
        }

        .vspace {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        .commute-name {
            @include font-size(1);
            line-height: 2;
        }

        .commute-points {
            display: table;
        }

        .result-point {
            @include font-size(0.9);
            margin-right: 0.5rem;
            text-transform: uppercase;
        }

        .ab {
            @include font-size(1.2);
            font-weight: 700;
            width: 27px;
            margin-right: 1rem;
        }

        .startend {
            color: #aaa;
            width: 51px;
            margin-right: 1rem;
        }

        .active-commute {
            .card {
                border: none;
                padding: 0;
            }

            .material-icons {
                @include font-size(1.2);
                width: 1.2rem;
                height: 1.2rem;
            }

            label {
                font-style: normal;
                padding-left: 0;
            }

            input {
                margin: 0 0.3rem;
            }
        }

        .tools {
            span {
                margin-right: 3rem;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .profile .create {
            @include font-size(1.2);
            width: 1.2rem;
            height: 1.2rem;
        }
        @include screen ('desktop') {
            .active-commute {
                .card {
                    border: 1px solid $border-color !important;
                    padding: 1rem !important;
                }

                .info {
                    @include font-size(1.4);
                    width: 1.4rem;
                    height: 1.4rem;
                }

                .commute-name {
                    @include font-size(1.8);
                    line-height: 1;
                }
            }

            .card {
                border: 1px solid $border-color;
            }
            top: 0;

            h2 {
                @include font-size(2.4);

                .material-icons {
                    @include font-size(2.4);
                    width: 2.4rem;
                    height: 2.4rem;
                }
            }

            .well p {
                @include font-size(1.2);
            }

            .card .card {
                border: none;
                padding: 0;
            }

            .border-left {
                border-left: 1px solid $light-grey;
            }

            .border-right {
                border-right: 1px solid $light-grey;
            }

            .tools {
                span {
                    margin-right: 0.9rem;
                }
            }
        }
    }
}