.dashboard {
    position: relative;
    top: 4.7rem;
    @include screen ('desktop') {
        top: 0;
    }

    h2 {
        display: inline-block;
    }

    hr {
        color: $light-grey;
        background-color: $light-grey;
    }

    .border-left {
        @include screen ('desktop') {
            border-left: 1px solid $light-grey;
        }
    }

    .border-right {
        @include screen ('desktop') {
            border-right: 1px solid $light-grey;
        }
    }

    .material-icons {
        @include font-size(14, 10);
        line-height: 0;
        @include screen ('desktop') {
            @include font-size(20, 10);
        }
    }

    .tools {
        @include screen ('desktop') {
            margin-top: 1rem;
        }

        .material-icons {
            @include screen ('desktop') {
                @include font-size(15, 10);
            }
        }

        .link a {
            @include font-size(12, 10);
        }
    }

    .well {
        background-color: $light-grey;
        border: 0;
        padding: 1rem;

        p {
            @include font-size(12, 10);
            font-weight: 700;
            margin-top: 0;
        }
    }
    // .card {
    //     margin-bottom: 1.5rem;
    //
    //     .control-point-icon {
    //         color: $transit-red !important;
    //         font-size: 2.4rem;
    //         width: 2.4rem;
    //         height: 2.4rem;
    //         top: 1rem;
    //     }
    // }
}
