/************************************
    Ridematch - Dashboard
/***********************************/
.ridematch {
    .dashboard {
        margin-top: 15px;

        h2 {
            display: inline-block;
            margin: 0 20px 5px 0;
        }

        hr {
            color: $light-grey;
            background-color: $light-grey;
            margin: 10px 0;
        }

        .card {
            border: none;
            padding: 0;

            .card {
                border: 1px solid $medium-grey;
                margin-bottom: 20px;
                padding: 15px;
            }
        }

        .well {
            background-color: $light-grey;
            border: 0;
            padding: 10px;

            p {
                font-size: 10px;
                font-weight: 700;
                margin: 0;
            }
        }

        .vspace {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .commute-name {
            font-size: 10px;
            line-height: 2;
        }

        .commute-points {
            display: table;
        }

        .result-point {
            font-size: 9px;
            margin-right: 5px;
            text-transform: uppercase;
        }

        .ab {
            font-size: 12px;
            font-weight: 700;
            width: 27px;
            margin-right: 10px;
        }

        .startend {
            color: #aaa;
            width: 51px;
            margin-right: 10px;
        }

        .active-commute {
            .card {
                border: none;
                padding: 0;
            }

            .material-icons {
                font-size: 12px;
                width: 12px;
                height: 12px;
            }

            label {
                font-style: normal;
                padding-left: 0;
            }
        }

        .tools {
            span {
                margin-right: 30px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .profile .create {
            font-size: 12px;
            width: 12px;
            height: 12px;
        }
        @include screen ('desktop') {
            margin-top: 0;
            margin-right: 15px;
            margin-left: 15px;

            .card {
                border: 1px solid $border-color;
                padding: 15px;
            }

            .active-commute {
                .card {
                    border: 1px solid $border-color !important;
                    padding: 10px !important;
                }

                .info {
                    font-size: 14px;
                    width: 14px;
                    height: 14px;
                }

                .commute-name {
                    font-size: 18px;
                    line-height: 1;
                }
            }

            h2 {
                font-size: 24px;

                .material-icons {
                    font-size: 24px;
                    width: 24px;
                    height: 24px;
                }
            }

            .well p {
                font-size: 12px;
            }

            .card .card {
                border: none;
                padding: 0;
            }

            .border-left {
                border-left: 1px solid $light-grey;
            }

            .border-right {
                border-right: 1px solid $light-grey;
            }

            .tools {
                span {
                    margin-right: 9px;
                }
            }
        }
    }
}
