/*##############################
  Ridematch intro page styles
##############################*/
.ridematch {
    .intro {
        padding: 30px;

        .card {
            border: 0;
            padding: 15px;
        }
        @include screen ('desktop') {
            .card {
                border: 1px solid $border-color;
            }
        }
    }
}