/************************************
    Ridematch - Messages
/***********************************/
.ridematch {
    .messages {
        .card .card {
            border: none !important;
            padding: 0;
        }

        .message-header-bar {
            color: $transit-blue;
            font-size: 12px;
            font-weight: 700;
        }

        .panel-group {
            margin-bottom: 0;

            .panel {
                border-radius: 0;
            }

            .panel-default {
                background-color: $white;
            }

            .panel-default > .panel-heading {
                background-color: $white;
                position: relative;
                padding: 5px;

                p {
                    font-size: 8px;
                    margin-left: 18px;
                }

                .delete-icon {
                    color: $dark-grey;
                    font-size: 14px;
                    width: 14px;
                    height: 14px;
                    cursor: pointer;
                    margin-left: 10px;
                    top: 0;
                }

                .panel-title {
                    font-size: 12px;
                    margin: 0;
                    padding: 10px 140px 10px 0;
                }

                .subject {
                    font-size: 10px;
                    margin-top: 0;
                }
            }

            .panel-default > .panel-heading.new {
                background-color: $medium-grey;
            }

            .panel-heading {
                border-top-left-radius: 0;
                border-top-right-radius: 0;

                .accordion-toggle:before {
                    color: $transit-blue;
                    font-family: "Material Icons";
                    font-size: 14px;
                    content: "\E15D";
                    float: left;
                    margin-right: 5px;
                }

                .accordion-toggle.collapsed:before {
                    content: "\E148";
                }
            }

            .panel-body {
                background-color: #f7f6f6;
                font-size: 8px;
                padding: 5px;

                .reply-icon {
                    cursor: pointer;
                    font-size: 14px;
                    width: 14px;
                    height: 14px;
                }

                .response {
                    p {
                        font-size: 10px;
                        margin-left: 0;
                    }
                }

                .message {
                    h5 {
                        font-size: 12px;

                        .material-icons {
                            font-size: 12px;
                            width: 12px;
                            height: 12px;
                        }
                    }

                    p {
                        font-size: 10px;
                        margin-left: 13px;
                    }
                }
            }
        }
        @include screen('desktop') {
            .card {
                border: none !important;
            }

            .card .card {
                border: 1px solid $border-color !important;
                padding: 0;
            }

            .well {
                border-radius: 0;
                margin-bottom: 0;
            }

            .panel-group {
                .panel + .panel {
                    margin-top: 0;
                }

                .panel-default > .panel-heading {
                    background-color: $white;
                    position: relative;
                    padding: 5px;

                    h4 {
                        cursor: pointer;
                    }

                    p {
                        font-size: 12px;
                        margin: 1rem 0 !important;
                    }

                    .delete-icon {
                        color: $dark-grey;
                        font-size: 18px;
                        width: 18px;
                        height: 18px;
                        cursor: pointer;
                    }

                    .panel-title {
                        font-size: 12px;
                        margin: 0;
                        padding: 10px 30px 10px 0 !important;
                    }

                    .timestamp {
                        font-size: 8px;
                    }
                }

                .panel {
                    border-right: none;
                    border-left: none;
                }

                .panel-body {
                    .material-icons {
                        font-size: 18px;
                        width: 18px;
                        height: 18px;
                    }

                    .message,
                    .response {
                        h5 {
                            font-size: 18px;

                            .material-icons {
                                font-size: 18px;
                                width: 18px;
                                height: 18px;
                            }
                        }

                        p {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}
