/************************************
    Ridematch - Messages
/***********************************/
.messages {
    .panel-group {
        .panel {
            border-radius: 0;
        }

        .panel-default {
            background-color: $white;
        }

        .panel-default > .panel-heading {
            background-color: $white;
            position: relative;
            padding: 0.5rem;

            p {
                @include font-size(0.8);
                margin: 0 0 0 1.3rem !important;
            }

            .material-icons,
            .timestamp,
            h4 {
                display: inline-block;
            }

            .delete-icon {
                color: $dark-grey;
                @include font-size(1.2);
                width: 1.2rem;
                height: 1.2rem;
                position: absolute;
                top: 0.5rem;
                right: 0.5rem;
                cursor: pointer;
            }

            .panel-title {
                @include font-size(1.2);
                margin: 0;

                a {
                    padding-right: 12rem;
                    text-decoration: none;
                }

                .accordion-toggle:after {
                    font-family: "Material Icons";
                    content: "\E15D";
                    float: left;
                    margin-right: 0.5rem;
                    margin-top: 0.2rem;
                }

                .accordion-toggle.collapsed:after {
                    content: "\E148";
                }
            }

            .panel-title span {
                color: #000;
                @include font-size(1.2);
            }

            .timestamp {
                @include font-size(0.8);
                position: absolute;
                top: 0.5rem;
                right: 2.5rem;
                text-align: right;
            }
        }

        .panel-heading.new {
            background-color: $medium-grey;
        }

        .panel-heading {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        .panel-body {
            background-color: #f7f6f6;
            @include font-size(0.8);
            padding: 0.5rem;

            .reply-icon {
                cursor: pointer;
                @include font-size(1.2);
                width: 1.2rem;
                height: 1.2rem;
            }

            .response {
                p {
                    @include font-size(0.8);
                    margin-left: 0;
                }
            }

            .message {
                h5 {
                    @include font-size(1.2);

                    .material-icons {
                        @include font-size(1.2);
                        width: 1.2rem;
                        height: 1.2rem;
                    }
                }

                p {
                    @include font-size(0.8);
                    margin-left: 1.3rem;
                }
            }
        }
        @include screen('desktop') {
            .panel-title {
                a {
                    padding-right: 25rem !important;
                }
            }

            .panel-body {
                .message h5 {
                    @include font-size(1.8);
                }
            }
        }
        @include screen('lg-desktop') {
            .panel-title {
                a {
                    padding-right: 53rem !important;
                }
            }
        }
    }
}