/*##############################
  Ridematch modal styles
##############################*/
// .ridematch {
//     .modal {
//         z-index: 20;
//     }
//
//     .modal-header {
//         h1 {
//             font-size: 12px;
//         }
//     }
//
//     .modal-body p {
//         font-size: 10px;
//         line-height: 1.3;
//
//         &:last-child {
//             margin: 10px 0;
//         }
//     }
//
//     .modal-footer {
//         border-top: none;
//     }
//     @include screen ('desktop') {
//         .modal-header {
//             h1 {
//                 font-size: 18px;
//             }
//         }
//
//         .modal-body p {
//             font-size: 12px;
//         }
//     }
// }