.modal-header {
    border-bottom: none;
}

.modal-body p {
    line-height: 1.3;
    @include screen ('desktop') {
        font-size: 1.6rem;
    }

    &:last-child {
        margin: 1em 0;
    }
}

.modal-footer {
    border-top: none;
}
