/*##############################
  Ridematch modal styles
##############################*/
.ridematch {
    .modal-header {
        h1 {
            @include font-size(1.2);
        }
    }

    .modal-body p {
        @include font-size(1);
        line-height: 1.3;

        &:last-child {
            margin: 1em 0;
        }
    }

    .modal-footer {
        border-top: none;
    }
    @include screen ('desktop') {
        .modal-header {
            h1 {
                @include font-size(1.8);
            }
        }

        .modal-body p {
            font-size: 1.2rem;
        }
    }
}