/************************************
    Ridematch - Commute Results
/***********************************/
.ridematch {
    .my-commutes {
        .card {
            .card {
                margin-bottom: 15px;

                .number-results {
                    font-size: 12px;
                    line-height: 1.3;
                }

                a .create {
                    font-size: 12px;
                    width: 12px;
                    height: 12px;
                }
            }

            #profileCards {
                .pagerItem-1 {
                    border-top: 5px solid $green;

                    .account-circle {
                        color: $green;
                        font-size: 16px;
                        width: 16px;
                        height: 16px;
                    }
                }

                .pagerItem-2 {
                    border-top: 5px solid $orange;

                    .account-circle {
                        color: $orange;
                        font-size: 16px;
                        width: 16px;
                        height: 16px;
                    }
                }

                .pagerItem-3 {
                    border-top: 5px solid $lime-green;

                    .account-circle {
                        color: $lime-green;
                        font-size: 16px;
                        width: 16px;
                        height: 16px;
                    }
                }
            }

            .sub-title {
                font-size: 12px;
                margin-top: 0;
            }

            .preferences {
                .preference-option {
                    font-size: 10px;
                    margin-left: 16px;

                    .material-icons {
                        font-size: 12px;
                        width: 12px;
                        height: 12px;
                        top: 2px;
                    }
                }

                .selected {
                    margin-left: 0;

                    .material-icons {
                        margin-right: 3px;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }

        .email {
            font-size: 12px;
            width: 12px;
            height: 12px;
        }

        .btn-disable {
            display: none;
        }

        @include screen ('desktop') {
            .map-bg {
                height: 1060px;
            }

            .card {
                border: none;
                margin-bottom: 15px;
                padding: 0;

                .card {
                    border: 1px solid $medium-grey;
                    padding: 15px;
                }

                #profileCards {
                    .pagerItem-1,
                    .pagerItem-2,
                    .pagerItem-3 {
                        .account-circle {
                            font-size: 24px;
                            width: 24px;
                            height: 24px;
                        }
                    }
                }

                a.contact {
                    font-size: 14px;

                    .material-icons {
                        font-size: 14px;
                        width: 14px;
                        height: 14px;
                    }
                }
            }

            .preferences {
                .material-icons {
                    top: 5px;
                }
            }
        }
    }
}
