/*##############################
  Ridematch nav styles
##############################*/
.ridematch {
    .navbar-default {
        background-color: $white !important;
        margin-bottom: 0;
        min-height: 2rem;
        padding: 1rem 0;

        a {
            color: $grey;
        }

        a.active {
            color: $transit-blue;
        }

        .material-icons {
            @include font-size(1.6);
            width: 1.6rem;
            height: 1.6rem;
        }
    }
}