.form-redesign {
    h4 {
        margin: 1em 0;
    }

    p:last-child {
        margin: 1em 0;
    }

    .well {
        background-color: transparent;
    }

    .required-notice {
        padding-left: 1em;
        background: #fff url("data:image/gif;base64,R0lGODlhBwAHAIQUAIwAALALAKwSCawpJ/cuAP4yAP81APQ5CvQ6C/8+Cv8/Cv5RGP9RGfRhMfRiMf9jJ/50NP+GR/+HSPSKXP///////////////////////////////////////////////yH5BAEKAB8ALAAAAAAHAAcAAAUf4CcCojhMkiOIE/QsyAdED6MYZLMkBSEKBwMhUJKVQgA7") no-repeat 0 50%;
    }

    table td {
        padding-right: 1em;
    }

    label {
        color: #000;
        font-style: italic;
        display: inline-block;
        margin: 0.3em 0;
        width: auto !important;
    }

    .required {
        padding-right: 1em;
        background: #fff url("data:image/gif;base64,R0lGODlhBwAHAIQUAIwAALALAKwSCawpJ/cuAP4yAP81APQ5CvQ6C/8+Cv8/Cv5RGP9RGfRhMfRiMf9jJ/50NP+GR/+HSPSKXP///////////////////////////////////////////////yH5BAEKAB8ALAAAAAAHAAcAAAUf4CcCojhMkiOIE/QsyAdED6MYZLMkBSEKBwMhUJKVQgA7") no-repeat 100% 50%;
    }

    .form-group {
        display: block;
        clear: both;
        margin-bottom: 1em;

        .form-control {
            border: 1px solid #ccc;
            border-radius: 4px;
            display: block;
            height: 24px;
            padding: 0 6px;
            width: 100%;
        }

        textarea.form-control {
            height: 112px;
        }

        select {
            appearance: none;
            -o-appearance: none;
            -ms-appearance: none;
            -moz-appearance: none;
            -khtml-appearance: none;
            -webkit-appearance: none;
            text-indent: 0.01px;
            text-overflow: "";
            padding: 0 24px 0 6px;
            background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMjUwcHgiIGhlaWdodD0iMjUwcHgiIHZpZXdCb3g9Ii0zMiAtNjcgMjc1IDI3NSI+PHBhdGggZD0iTTE2OC40NTIsNDIuMTIxbC02LjEwOS02LjExMWMtMi4xMTgtMi4wMDktNC41OS0zLjAxNC03LjQxMy0zLjAxNGMtMi44OCwwLTUuMzI0LDEuMDA1LTcuMzM0LDMuMDE0TDEwOCw3NS42MDcgTDY4LjQwNCwzNi4wMTFjLTIuMDEtMi4wMDktNC40NTQtMy4wMTQtNy4zMzMtMy4wMTRjLTIuODI0LDAtNS4yOTYsMS4wMDUtNy40MTQsMy4wMTRsLTYuMDI5LDYuMTExIGMtMi4wNjQsMi4wNjMtMy4wOTYsNC41MzUtMy4wOTYsNy40MTRjMCwyLjkzMywxLjAzMyw1LjM3NywzLjA5Niw3LjMzMmw1My4wMzksNTMuMDM5YzEuOTU2LDIuMDY0LDQuMzk5LDMuMDk2LDcuMzMzLDMuMDk2IGMyLjg3OSwwLDUuMzUtMS4wMzIsNy40MTMtMy4wOTZsNTMuMDM5LTUzLjAzOWMyLjAxLTIuMDEsMy4wMTYtNC40NTQsMy4wMTYtNy4zMzJDMTcxLjQ2OCw0Ni43MTEsMTcwLjQ2Miw0NC4yNCwxNjguNDUyLDQyLjEyMXoiLz48L3N2Zz4=");
            background-position: right center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    .form-inline {
        .form-group {
            display: inline-block;
            margin-bottom: 1em;
            vertical-align: middle;

            .input-group {
                white-space: nowrap;
                position: relative;
                display: table;
                border-collapse: separate;

                input {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    display: inline-block;
                }

                .input-group-addon {
                    background-color: #ccc;
                    border: 1px solid #ccc;
                    cursor: pointer;
                    padding: 0 6px;
                }
            }

            .checkbox-list td {
                padding-right: 1em;
            }
        }
    }

    .checkbox-group,
    .radio-group {
        margin-bottom: 1em;
    }

    .mt-button {
        margin-bottom: 1em;
        text-align: center;
    }

    .mt-backbutton {
        text-align: center;
    }
}
