/*##############################
  Ridematch form styles
##############################*/
.ridematch {
    .form-redesign {
        .form-group {
            .form-control {
                padding: 0 0.6rem;
            }

            select {
                appearance: none;
                -o-appearance: none;
                -ms-appearance: none;
                -moz-appearance: none;
                -khtml-appearance: none;
                -webkit-appearance: none;
                text-indent: 0.01px;
                text-overflow: "";
                padding: 0 24px 0 6px;
                background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMjUwcHgiIGhlaWdodD0iMjUwcHgiIHZpZXdCb3g9Ii0zMiAtNjcgMjc1IDI3NSI+PHBhdGggZD0iTTE2OC40NTIsNDIuMTIxbC02LjEwOS02LjExMWMtMi4xMTgtMi4wMDktNC41OS0zLjAxNC03LjQxMy0zLjAxNGMtMi44OCwwLTUuMzI0LDEuMDA1LTcuMzM0LDMuMDE0TDEwOCw3NS42MDcgTDY4LjQwNCwzNi4wMTFjLTIuMDEtMi4wMDktNC40NTQtMy4wMTQtNy4zMzMtMy4wMTRjLTIuODI0LDAtNS4yOTYsMS4wMDUtNy40MTQsMy4wMTRsLTYuMDI5LDYuMTExIGMtMi4wNjQsMi4wNjMtMy4wOTYsNC41MzUtMy4wOTYsNy40MTRjMCwyLjkzMywxLjAzMyw1LjM3NywzLjA5Niw3LjMzMmw1My4wMzksNTMuMDM5YzEuOTU2LDIuMDY0LDQuMzk5LDMuMDk2LDcuMzMzLDMuMDk2IGMyLjg3OSwwLDUuMzUtMS4wMzIsNy40MTMtMy4wOTZsNTMuMDM5LTUzLjAzOWMyLjAxLTIuMDEsMy4wMTYtNC40NTQsMy4wMTYtNy4zMzJDMTcxLjQ2OCw0Ni43MTEsMTcwLjQ2Miw0NC4yNCwxNjguNDUyLDQyLjEyMXoiLz48L3N2Zz4=");
                background-position: right center;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }

        .section {
            margin-top: 0;
            margin-bottom: 2rem;
        }

        label {
            @include font-size(1.3);
            font-style: normal;
            margin-bottom: 0.2;
        }

        .required-notice {
            @include font-size (1.3);
        }

        .mt-backbutton {
            text-align: center;
        }

        .mt-button:last {
            margin-bottom: 0;
        }

        .input-group {
            .input-group-addon {
                @include font-size(1.2);
                font-weight: 700;
                background-color: $white;
                padding: 0 0.6rem;

                &.start {
                    color: $transit-blue;
                }

                &.destination {
                    color: $transit-red;
                }
            }

            input {
                @include font-size(1.8);
                border-left: none;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                box-shadow: none;
                font-weight: 700;

                &::placeholder {
                    color: $grey;
                }
            }
        }

        .time-picker {
            width: 100%;

            input {
                @include font-size(1.2);
                border-left: 1px solid #ccc;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;

                &::placeholder {
                    @include font-size(1.2);
                }
            }
        }

        .checkbox {
            margin-top: 0.5rem !important;
            margin-bottom: 0.5rem;

            .input-group-addon {
                border: 0;
            }
        }

        .select-days {
            margin-bottom: 1rem;

            label {
                display: block;
            }

            ul {
                list-style-type: none;
                padding-left: 0;

                li {
                    display: inline-block;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    cursor: pointer;
                    @include font-size(1.2);
                    line-height: 1;
                    width: 3rem;
                    height: 3rem;
                    margin-right: 0.5rem;
                    text-align: center;
                    padding: 0.8rem;

                    &.active {
                        background-color: #cfdeed;
                    }
                }
            }
        }
        @include screen('desktop') {
            label {
                font-style: italic;
            }

            .mt-backbutton {
                text-align: left;
            }

            .next,
            .prev {
                text-align: center;
            }
        }
    }
}