/*##############################
    Ridematch specific styles
##############################*/
.ridematch {
    padding: 1.5rem;

    .card {
        background-color: $white;
        border: 1px solid $border-color;
        padding: 1.5rem;

        .btn {
            margin-top: 1em;
        }

        .control-point-icon {
            color: $transit-red;
        }
    }

    .leadin {
        @include font-size(14, 10);
        font-weight: 300;
        line-height: 1.3;
        @include screen ('desktop') {
            @include font-size(24, 10);
        }
    }
}

.dashboard {
    position: relative;
    top: 5rem;
}
