/*##############################
    Ridematch specific styles
##############################*/
.ridematch {
    padding: 1.5rem;

    .card {
        background-color: $white;
        border: 1px solid $border-color;
        padding: 3rem 1.5rem;

        h1 {
            font-size: 16px;
            @include screen ('desktop') {
                font-size: 30px;
            }
        }

        .leadin {
            font-size: 14px;
            @include screen ('desktop') {
                font-size: 24px;
                line-height: 1.3;
                font-weight: 400;
            }
        }

        .btn {
            margin-top: 1em;
        }

        .control-point-icon {
            color: $transit-red;
        }
    }
}
