/*##############################
  Ridematch specific styles
##############################*/
.ridematch {
    .control-point-icon {
        @include font-size(24, 10);
        color: $transit-red !important;
        display: block;
        width: 2.4rem !important;
        height: 2.4rem !important;
        margin: 0 auto 1rem auto !important;
    }
    @include screen ('desktop') {
        padding: 1.5rem;

        .material-icons.create {
            @include font-size(12, 10);
            width: 1.2rem;
            height: 1.2rem;
        }
    }
}
