/*##############################
    Color scheme
##############################*/
$transit-blue: #0053a0;
$transit-red: #ed1b2e;
$transit-yellow: #ffd200;
$white: #ffffff;
$grey: #c0c0c0;
$border-color: $grey;
$red-text: $transit-red;
