/*##############################
    Color scheme
##############################*/
$transit-blue: #0053a0;
$transit-red: #ed1b2e;
$transit-yellow: #ffd200;
$white: #ffffff;
$light-grey: #ebebeb;
$grey: #c0c0c0;
$dark-grey: #606060;
$border-color: $grey;
$red-text: $transit-red;
$font-color: $dark-grey;
/*##############################
    Font sizes
##############################*/
$h1-size: 3rem;
$h2-size: 1.6rem;
