/*##############################
    Font
##############################*/
$font-stack-lato: 'Lato', sans-serif !important;
$font-stack-helvetica: Helvetica, arial, sans-serif;
/*##############################
    Color scheme
##############################*/
$transit-blue: #0053a0;
$transit-red: #ed1b2e;
$transit-yellow: #ffd200;
$white: #ffffff;
$light-grey: #ebebeb;
$grey: #c0c0c0;
$medium-grey: #d6d6d6;
$dark-grey: #606060;
$green: #008244;
$light-green: #a5cf4c;
$orange: #f68b1f;
$border-color: $grey;
$red-text: $transit-red;
$font-color: $dark-grey;
/*##############################
    Font sizes
##############################*/
$h1-size: 3rem;
$h2-size: 1.6rem;
